{% extends 'base.html' %}
<html>
    <head>
        {% load static %}
        <style>
          .center-block {
                display: block;
                margin-right: auto;
                margin-left: auto;
            }
            .smalltext{
                font-size: 10px !important;
            }
        </style>
        {% block title %}
            <title>Floormap</title>
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">        
    </head>
    <body>
        	{% block body %}
        
            <nav class="nav navbar-inverse">
                    <div class="container-fluid">
                       <div class="navbar-header">
                         <a class="navbar-brand" href="#">SJCE Boys Hostel</a>
                         </div>
                         <ul class="nav navbar-nav">
                         <li class="active"><a href="/account/home_page">Home</a></li>
                         <li><a href="/account/building">Buildings</a></li>
                         <li><a href="/account/roomform">Book room</a></li>
                         <li><a href="/account/">Logout</a></li>
                         </ul>
                     </div>
                     </nav>
                     <br><br>
                     <br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding-right:0px !important; margin-right:0px !important; border-right:0px !important">
                    <img src=" {% static 'accounts/Images/Floors/M1floor.png' %}"  height="100%" width="100%" usemap="#floormap"/>
                    <map name="floormap">
                        <area shape="rect" coords="0,0,82,126" href="r1.htm" alt="Room1">
                        <area shape="rect" coords="90,58,3" href="r2.htm" alt="Room2">
                    </map>
                </div>
            </div>
        </div>

        <div class="container text-center">
                <h2><a href="/account/roomform"><button type="button" class="btn btn-success btn-lg" href="/account/roomform">Book Room</button></a></h2>
            </div>        
            
                    <br><br>
                    <br><br>
                    <br><br>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>